
.navbar {
    background-color: #347037
}

#navbar-name {
    color: #f7f7f7;
    letter-spacing: 5px
}

#home {
    color: white;
    letter-spacing: 3px;
    margin-right: 10px;
}

#tracker {
    color: white;
    letter-spacing: 3px;
    margin-right: 10px  
}

#navbarDropdown {
    color: white;
    letter-spacing: 3px;
    margin-right: 10px
}

#login {
    margin-left: 10px
}

#suggestions {
    background-color: white;
    color: black;
    border: white;
    text-indent: 11px
}

#toggle-dropright {
    background-color: white;
    color: black;
    border: white
}
